<%= content_for :css do %>
  <%= stylesheet_link_tag 'login', media: 'all' %>
<% end %>

<% if flash[:alert].present? %>
  <span class="error-message"><%= flash[:alert] %></span>
<% end %>

<div class="container">
  <%= link_to root_path, class: 'logo' do %>
    <img src="<%= image_url("million-logo.svg") %>">
  <% end %>

  <h1 class="title">Acesso Million</h1>

  <%= form_tag 'auth/google_oauth2' do %>
    <%= submit_tag 'Entre usando sua conta Google', class: 'button' %>
  <% end %>
</div>
