<%= content_for :css do %>
  <%= stylesheet_link_tag 'login', media: 'all' %>
<% end %>

<div class="container">
  <%= link_to root_path, class: 'logo' do %>
    <img src="<%= image_url("million-logo.svg") %>">
  <% end %>

  <h1 class="title">Acesso Million</h1>

  <%= link_to 'Entre usando sua conta Google', 'auth/google_oauth2', class: 'button' %>
</div>
