<div class="ls-box ls-board-box">
    <header class="ls-info-header">
        <h2 class="ls-title-3">Resumo do mês</h2>
        <p class="ls-float-right ls-float-none-xs ls-small-info">
            Lançamentos a partir de <strong><%= DateTime.current.at_beginning_of_month.strftime('%d/%m/%Y') %></strong>
        </p>
    </header>
    <% if @month_expense.zero? && @month_revenue.zero? %>
        <p class="ls-no-data">Ainda não há entradas neste mês</p>
    <% else %>
        <div id="sending-stats" class="row">
            <div class="col-sm-12 col-xs-12 col-md-4">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">SALDO</h6>
                    </div>
                    <div class="ls-box-body">
                      <strong class="<%= @month_color_class %>">
                        <%= number_to_currency(@month_balance) %>
                      </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-4">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">DESPESAS</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%= number_to_currency(@month_expense) %>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-4">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">RECEITAS</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%= number_to_currency(@month_revenue) %>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
