<v-card height="100%">
  <v-card-title primary-title>
    <div>
      <h3 class="headline md-o">
        Últimos sete dias
      </h3>
      <div><strong><%= 7.days.ago.strftime('%d/%m/%Y') %></strong> - <strong><%= DateTime.current.strftime('%d/%m/%Y') %></strong></div>
    </div>
  </v-card-title>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card color="primary white--text">
          <v-card-title class="pb-0">
            <div class="title">Saldo</div>
          </v-card-title>
          <weekly-balance
            class="text-xs-center headline"
            :userid="<%= current_user.id.to_json %>"
            :reload="reloadBalance">
          </weekly-balance>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card color="primary white--text">
          <v-card-title class="pb-0">
            <div class="title">Receitas</div>
          </v-card-title>
          <weekly-expense
            class="text-xs-center headline"
            :userid="<%= current_user.id.to_json %>"
            :reload="reloadBalance">
          </weekly-expense>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card color="primary white--text">
          <v-card-title class="pb-0">
            <div class="title">Despesas</div>
          </v-card-title>
          <weekly-revenue
            class="text-xs-center headline"
            :userid="<%= current_user.id.to_json %>"
            :reload="reloadBalance">
          </weekly-revenue>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
