<div class="ls-box ls-board-box">
    <header class="ls-info-header">
        <h2 class="ls-title-3">Resumo dos últimos sete dias</h2>
        <p class="ls-float-right ls-float-none-xs ls-small-info">
            Lançamentos de <strong><%= 7.days.ago.strftime('%d/%m/%Y') %></strong> até <strong><%= DateTime.current.strftime('%d/%m/%Y') %></strong>
        </p>
    </header>
    <% if @seven_days_expense.zero? && @seven_days_revenue.zero? %>
        <p class="ls-no-data">Não foram feitas entradas nos últimos sete dias</p>
    <% else %>
        <div id="sending-stats" class="row">
            <div class="col-sm-12 col-xs-12 col-md-3">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">SALDO</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong class="<%= @seven_days_color_class %>">
                            <%= number_to_currency(@seven_days_balance) %>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-3">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">DESPESAS</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%= number_to_currency(@seven_days_expense) %>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-3">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">RECEITAS</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%= number_to_currency(@seven_days_revenue) %>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
