<tr>
  <td class="ls-txt-center hidden-xs"><%= entries.category.name %></td>
  <td class="ls-txt-center"><%= entries.description %></td>
  <td class="ls-txt-center">
    <a href="<%= entry_path(entries.id) %>"
      class="ls-tooltip-top"
      aria-label="Ver detalhes da <%= entries.expense? ? 'despesa' : 'receita' %>" >
      <%= number_to_currency(entries.amount) %>
      <% if entries.installments? %>
        <%= content_tag :span, entries.installment_label, class: 'ls-tag' %>
      <% end %>
    </a>
  </td>
  <td class="ls-txt-center"><%= entries.entry_date %></td>
  <td class="ls-txt-center hidden-xs">
    <%= link_to '', edit_entry_path(entries.id), class: 'ls-btn ls-ico-cog' %>
    <%= link_to '', '#', class: 'ls-btn-sm ls-btn-primary-danger ls-ico-remove',
      'data-custom-class': 'ls-color-danger',
      'data-title':        'Confirmar deleção?',
      'data-content':      link_to('Sim', delete_entry_path(entries),
                                   class: 'ls-btn-sm ls-btn-primary-danger',
                                   method: :delete),
      'data-ls-module':    'popover',
      'data-placement':    'left' %>
  </td>
</tr>
