<tr>
  <td class="category"><%= entry.category.name %></td>
  <td class="description"><%= entry.description %></td>
  <td class="amount">
    <a href="<%= entry_path(entry.id) %>"
      aria-label="Ver detalhes da <%= entry.expense? ? 'despesa' : 'receita' %>" >
      <%= number_to_currency(entry.amount) %>
      <% if entry.installments? %>
        <%= content_tag :span, entry.installment_label, class: 'installment-tag' %>
      <% end %>
    </a>
  </td>
  <td class="entry-date"><%= entry.entry_date.strftime('%d/%m/%Y') %></td>
  <td class="action">
    <%= link_to 'Editar', edit_entry_path(entry.id), class: 'icon-edit-entry' %>
    <%= link_to 'Deletar', delete_entry_path(entry.id), method: :delete, class: 'icon-remove-entry' %>
  </td>
</tr>
