<tr>
  <td class="ls-txt-center hidden-xs"><%= entry.category.name %></td>
  <td class="ls-txt-center"><%= entry.description %></td>
  <td class="ls-txt-center">
    <a href="<%= entry_path(entry.id) %>"
      class="ls-tooltip-top"
      aria-label="Ver detalhes da <%= entry.expense? ? 'despesa' : 'receita' %>" >
      <%= number_to_currency(entry.amount) %>
      <% if entry.installments? %>
        <%= content_tag :span, entry.installment_label, class: 'ls-tag' %>
      <% end %>
    </a>
  </td>
  <td class="ls-txt-center"><%= entry.made_at.strftime('%d/%m/%Y') %></td>
  <td class="ls-txt-center hidden-xs">
    <%= link_to '', edit_entry_path(entry.id), class: 'ls-btn-sm ls-ico-cog' %>
    <%= link_to '', '#', class: 'ls-btn-sm ls-btn-primary-danger ls-ico-remove',
      'data-custom-class': 'ls-color-danger',
      'data-title':        'Confirmar deleção?',
      'data-content':      render(partial: 'delete_popover', locals: { entry: entry }),
      'data-ls-module':    'popover',
      'data-placement':    'left' %>
  </td>
</tr>
