<%= content_for :css do %>
  <%= stylesheet_link_tag 'entry-form', media: 'all' %>
<% end %>

<%= form_for(@new_entry, html: { class: 'form-container shadow' }) do |f| %>
  <div class="form-group entry-date">
    <%= label :entry_date, 'Data', class: 'invisible' %>
    <%= f.date_field :entry_date %>
  </div>
  <div class="form-group entry-type">
    <div id="radio-expense">
      <%= f.radio_button :type, 'expense', checked: true %>
      <%= label :type, 'Gasto', for: 'entry_type_expense' %>
    </div>
    <div id="radio-revenue">
      <%= f.radio_button :type, 'revenue' %>
      <%= label :type, 'Ganho', for: 'entry_type_revenue' %>
    </div>
  </div>
  <div class="form-group entry-wallet">
    <%= label :wallet_id, 'Carteira', class: 'invisible' %>
    <%= f.select :wallet_id, @wallets.collect { |wallet| [wallet.name, wallet.id] } %>
  </div>
  <div class="form-group entry-category">
    <%= label :category_id, 'Categoria', class: 'invisible' %>
    <%= f.select :category_id, @categories.collect { |category| [category.name, category.id] }, include_blank: "Selecione a categoria" %>
  </div>
  <div class="form-group entry-description">
    <%= label :entry_description, 'Descrição', class: 'invisible' %>
    <%= f.text_field :description, placeholder: 'Descrição' %>
  </div>
  <div class="form-group entry-amount">
    <%= label :amount, 'Valor', class: 'invisible' %>
    <%= f.number_field :amount, min: 0.00, step: 0.01, placeholder: 'Valor' %>
  </div>
  <%= f.submit 'Salvar nova entrada', class: 'action-group button' %>
<% end %>

