<div class="col-md-6 col-sm-12 col-xs-12">
  <%= render 'total_balance' %>
</div>

<div class="col-md-6 col-sm-12 col-xs-12">
  <%= render 'new_entry' %>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <%= render 'entries/graphs/month' %>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <%= render 'balance_month' %>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <%= render 'entries/graphs/category' %>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <%= render 'balance_seven_days' %>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <%= render 'balance_of_day' %>
</div>
