<%= content_for :title do %>
  <div class="col s12">
    <h2>Painel</h2>
  </div>
<% end %>

<!-- Saldo -->
<div class="col l4 m6 s12">
  <div class="card z-depth-2">
    <div class="card-stacked">
      <div class="card-metrics card-static">
        <div class="card-metric">
          <div class="card-metric-title">
            Saldo geral
          </div>
          <div class="card-metric-value center-align">
            <h5><%= number_to_currency(@balance) || 'Erro interno ao exibir despesas' %></h5>
          </div>
          <div class="card-metric-change increase">
            <i class="material-icons left"><%= @monthly_balance.try(:negative?) ? 'keyboard_arrow_down' : 'keyboard_arrow_up' %></i>
            <small>Saldo do mês: <%= number_to_currency(@monthly_balance) %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Despesas -->
<div class="col l4 m6 s12">
  <div class="card z-depth-2">
    <div class="card-stacked">
      <div class="card-metrics card-static">
        <div class="card-metric">
          <div class="card-metric-title">
            Despesas do mês
          </div>
          <div class="card-metric-value center-align">
            <h5><%= number_to_currency(@expense) || 'Erro interno ao exibir despesas' %></h5>
          </div>
          <div class="card-metric-change increase">
            <i class="material-icons left">keyboard_arrow_down</i>
            ?? %
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Receitas -->
<div class="col l4 m6 s12">
  <div class="card z-depth-2">
    <div class="card-stacked">
      <div class="card-metrics card-static">
        <div class="card-metric">
          <div class="card-metric-title">
            Receitas do mês
          </div>
          <div class="card-metric-value center-align">
            <h5><%= number_to_currency(@revenue) || 'Erro interno ao exibir receitas' %></h5>
          </div>
          <div class="card-metric-change increase">
            <i class="material-icons left">keyboard_arrow_up</i>
            ?? %
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Entradas ao longo do ano -->
<div class="col s12">
  <div class="card z-depth-2">
    <div class="card-stacked">
      <div class="card-metrics card-static">
        <div class="card-metric">
          <div class="card-metric-title">
            Entradas ao longo do ano
          </div>
        </div>
      </div>
    </div>
    <div class="card-metric-chart">
      <%= line_chart api_user_entries_by_month_path(current_user),
        defer:     true,
        legend:    'bottom',
        decimal:   ',',
        thousands: '.',
        prefix:    'R$ ',
        download:  "entradas-million-#{Time.zone.today.year}" %>
    </div>
  </div>
</div>

<!-- Despesas por categoria -->
<div class="col l6 s12">
  <div class="card z-depth-2">
    <div class="card-stacked">
      <div class="card-metrics card-static">
        <div class="card-metric">
          <div class="card-metric-title">
            Despesas por categoria
          </div>
          <%= pie_chart api_user_expense_by_category_path(current_user),
            legend: 'bottom',
            donut: true,
            decimal: ',',
            thousands: '.',
            prefix: 'R$ ',
            download: "despesas-million-#{Time.zone.today.strftime('%m-%Y')}" %>
        </div>
      </div>
    </div>
    <div class="card-metric-chart">
    </div>
  </div>
</div>

<!-- Receitas por categoria -->
<div class="col l6 s12">
  <div class="card z-depth-2">
    <div class="card-stacked">
      <div class="card-metrics card-static">
        <div class="card-metric">
          <div class="card-metric-title">
            Receitas por categoria
          </div>
          <%= pie_chart api_user_revenue_by_category_path(current_user),
            legend: 'bottom',
            donut: true,
            decimal: ',',
            thousands: '.',
            prefix: 'R$ ',
            download: "receitas-million-#{Time.zone.today.strftime('%m-%Y')}" %>
        </div>
      </div>
    </div>
    <div class="card-metric-chart">
    </div>
  </div>
</div>
