<%= content_for :css do %>
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
<% end %>

<h1>Painel</h1>

<div class="container">
  <%= form_for(@new_entry, html: { class: 'form-container' }) do |f| %>
    <div class="form-group entry-date">
      <%= label :entry_date, 'Data', class: 'invisible' %>
      <%= f.date_field :entry_date %>
    </div>
    <div class="form-group entry-type">
      <%= f.radio_button :type, 'expense', checked: true %>
      <%= label :type, 'Gasto' %>
      <%= f.radio_button :type, 'revenue', checked: true %>
      <%= label :type, 'Ganho' %>
    </div>
    <div class="form-group entry-category">
      <%= label :category_id, 'Categoria', class: 'invisible' %>
      <%= f.select :category_id, @categories.collect { |category| [category.name, category.id] }, include_blank: "Selecione a categoria" %>
    </div>
    <div class="form-group entry-description">
      <%= label :entry_description, 'Descrição', class: 'invisible' %>
      <%= f.text_field :description, placeholder: 'Descrição' %>
    </div>
    <div class="form-group entry-amount">
      <%= label :amount, 'Valor', class: 'invisible' %>
      <%= f.number_field :amount, min: 0.00, step: 0.01, placeholder: 'Valor' %>
    </div>
    <div class="action-group">
      <%= f.submit 'Salvar nova entrada' %>
    </div>
  <% end %>

  <div class="balance-container">  
    <!-- Saldo geral -->  
    <section id="total-balance">
      <div id="total-balance">
        <h3>Saldo geral</h3>
        <span><%= number_to_currency(@balance) %></span>
      </div>
    </section>

    <!-- Saldo do mês -->  
    <section id="monthly-balance">
      <div id="monthly-balance">
        <p>Saldo do mês</p>
        <span><%= number_to_currency(@monthly_balance) %></span>
      </div>
    </section>
  </div>

  <div class="entries-container">
    <!-- Despesas -->
    <section id="expenses">
      <h3>Despesas do mês</h3>
      <div>
        <span><%= number_to_currency(@expense) %></span>
      </div>
    </section>

    <!-- Receitas -->
    <section id="revenues">
      <h3>Receitas do mês</h3>
      <div>
        <span><%= number_to_currency(@revenue) %></span>
      </div>
    </section>
</div>
