<div class="ls-list">
    <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
            <%= content_tag :h2, @entry.description %>
        </div>
        <div class="col-md-3 ls-txt-right">
            <%= link_to 'editar', edit_entry_path(@entry.id), class: 'ls-btn ls-ico-cog' %>
        </div>
    </header>
    <div class="ls-list-content">
        <div class="col-xs-12 col-md-3">
            <%= content_tag :span, 'Envelope', class:'ls-list-label ls-ico-envelop' %>
            <%= content_tag :strong, @entry.category.name %>
        </div>
        <div class="col-xs-12 col-md-3">
            <%= content_tag :span, 'Valor', class:'ls-list-label ls-ico-origins' %>
            <%= content_tag :strong, number_to_currency(@entry.amount) %>
        </div>
        <div class="col-xs-12 col-md-3">
            <%= content_tag :span, 'Data', class:'ls-list-label ls-ico-calendar' %>
            <%= content_tag :strong, @entry.entry_date %>
        </div>
    </div>
</div>
