<%= content_for :google_chart do %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<% end %>
<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3 ls-ico-envelop">Entradas por envelope</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">
      Lançamentos a partir de <strong><%= DateTime.current.at_beginning_of_month.strftime('%d/%m/%Y') %></strong>
    </p>
  </header>
  <div class="col-sm-12 col-xs-12 col-md-6 ls-xs-space">
    <div class="ls-box ls-xs-space">
      <% if @data_expense.size <= 1 %>
        <p class="ls-no-data">Não há despesas neste mês</p>
      <% else %>
        <div class="ls-box-head">
          <%= link_to 'DESPESAS', expenses_path(current_user), class: 'ls-tooltip-bottom ls-title-4',
            'aria-label': 'Abrir todas as despesas' %>
        </div>
        <by-category :params="<%= @expense_params %>" :data="<%= @data_expense %>"></by-category>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12 col-xs-12 col-md-6 ls-xs-space">
    <div class="ls-box ls-xs-space">
      <% if @data_revenue.size <= 1 %>
        <p class="ls-no-data">Não há receitas neste mês</p>
      <% else %>
        <div class="ls-box-head">
          <%= link_to 'RECEITAS', revenues_path(current_user), class: 'ls-tooltip-bottom ls-title-4',
            'aria-label': 'Abrir todas as despesas' %>
        </div>
        <by-category :params="<%= @revenue_params %>" :data="<%= @data_revenue %>"></by-category>
      <% end %>
    </div>
  </div>
</div>
