<%= content_for :css do %>
  <%= stylesheet_link_tag 'entry_index', media: 'all' %>
  <%= stylesheet_link_tag 'table', media: 'all' %>
<% end %>

<section class="container">
  <h2>Despesas</h2>

  <section class="action">
    <%= link_to('Nova despesa', new_entry_path(current_user, type: 'expense'), class: 'button') %>
    <div class="clear"></div>
  </section>

  <%= render partial: 'table' %>
</section>

