<%= content_for :css do %>
  <%= stylesheet_link_tag 'entry_index', media: 'all' %>
  <%= stylesheet_link_tag 'table', media: 'all' %>
<% end %>

<section class="container">
  <h2>Despesas</h2>

  <section class="action">
    <%= link_to('Nova despesa', new_entry_path(current_user, type: 'expense'), class: 'button') %>
    <div class="clear"></div>
  </section>

  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr class="entry">
          <%= content_tag(:td, expense.description, class: 'description') %>
          <%= content_tag(:td, number_to_currency(expense.amount), class: 'amount') %>
          <%= content_tag(:td, expense.entry_date.strftime('%d/%m/%Y'), class: 'entry-date') %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

