<%= content_for :css do %>
  <%= stylesheet_link_tag 'expense_index', media: 'all' %>
<% end %>

<section class="container">
  <h1>Despesas</h1>

  <table class="highlight">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <%= content_tag(:td, expense.description) %>
          <%= content_tag(:td, number_to_currency(expense.amount)) %>
          <%= content_tag(:td, expense.entry_date.strftime('%d/%m/%Y')) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

