<%= form_for @user, validate: true do |f| %>
  <div class="row">
    <div class="logo col s6 offset-s3 center-align">
      <image src="<%= image_url('million-logo.svg') %>">
      <h4>Cadastro Million</h4>
    </div>

    <div class="input-field col s12">
      <%= content_tag :label, 'Nome de acesso', for: 'username' %>
      <%= f.text_field :username, class: 'validate' %>
    </div>

    <div class="input-field col s12">
      <%= content_tag :label, 'Email', for: 'email' %>
      <%= f.text_field :email, class: 'validate' %>
    </div>

    <div class="input-field col s12">
      <%= content_tag :label, 'Senha', for: 'password' %>
      <%= f.password_field :password, class: 'validate' %>
    </div>

    <div class="input-field col s12">
      <%= content_tag :label, 'Confirmação de senha', for: 'validate' %>
      <%= f.password_field :password_confirmation, class: 'validate' %>
    </div>

    <div class="col s12 center-align">
      <%= submit_tag "Cadastrar-se", class: 'btn waves-efect waves-light btn-small' %>

      <p>
      Já possui cadastro no Million?<br>
      <%= link_to 'Entre aqui', login_path %>
      ou
      <%= link_to 'volte ao início', root_path %>
      </p>
    </div>
  </div>
<% end %>
