<v-card class="elevation-12">
  <v-toolbar dark color="primary">
    <v-btn icon href="/">
      <image src="<%= image_url('million-logo.svg') %>">
    </v-btn>
    <v-spacer></v-spacer>
    <v-tooltip bottom>
      <v-btn flat small slot="activator" href="/login">Fazer login</v-btn>
      <span>Lembrei da minha senha</span>
    </v-tooltip>
  </v-toolbar>
  <form @submit.prevent="">
    <v-card-text>
      <v-text-field prepend-icon="lock" v-model="password" name="user[password]" label="Nova senha" type="password" autocomplete="new-password" required></v-text-field>
      <v-text-field prepend-icon="lock" v-model="password_confirmation" name="user[password_confirmation]" label="Confirmação de senha" type="password" autocomplete="new-password" required></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="redefinePassword('<%= @user.id %>', '<%= form_authenticity_token %>')" color="primary">Redefinir</v-btn>
    </v-card-actions>
  </form>
</v-card>

<div class="ls-login-box">
  <div class="ls-login-logo">
    <h2>Redefinição de senha</h2>
  </div>
  <%= form_for @user, url: redefine_password_path(@user.id), method: 'put', class: 'ls-form ls-login-form', validate: true do |f| %>
    <fieldset>
      <div class="ls-label">
        <%= content_tag :b, 'Nova senha', class: 'ls-labal-text ls-hidden-accessible' %>
        <div class="ls-prefix-group ls-field-lg">
          <%= f.password_field :password, class: 'ls-login-bg-password', placeholder: 'Nova senha' %>
          <%= link_to '', '#', class: 'ls-label-text-prefix ls-toggle-pass ls-ico-eye', 'data-target': '#user_password' %>
        </div>
      </div>

      <div class="ls-label">
        <%= content_tag :b, 'Confirmação de senha', class: 'ls-labal-text ls-hidden-accessible' %>
        <div class="ls-prefix-group ls-field-lg">
          <%= f.password_field :password_confirmation, class: 'ls-login-bg-password', placeholder: 'Confirmação de senha' %>
          <%= link_to '', '#', class: 'ls-label-text-prefix ls-toggle-pass ls-ico-eye', 'data-target': '#user_password_confirmation' %>
        </div>
      </div>
      <%= submit_tag "Redefinir", class: 'ls-btn-primary ls-btn-block ls-btn-lg' %>
      <p class="ls-txt-center ls-login-signup">
        Se lembrou de sua senha?<br>
        <%= link_to 'Entre aqui', login_path %> ou
        <%= link_to 'volte ao início', root_path %>
      </p>
    </fieldset>
  <% end %>
</div>
