<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <%= content_tag :h2, entry.description %>
      <% if entry.installments? %>
        <%= link_to sprintf("Parcela %s", entry.installment_label),
          installments_path(entry),
          class: 'ls-tag ls-tooltip-bottom',
          'aria-label': 'Ver todas as parcelas' %>
      <% end %>
    </div>
    <div class="col-md-3 ls-txt-right">
      <%= link_to 'editar', edit_entry_path(entry.id), class: 'ls-btn ls-ico-cog' %>
      <%= link_to 'deletar', '#', class: 'ls-btn ls-btn-primary-danger ls-ico-remove',
        'data-custom-class': 'ls-color-danger',
        'data-title':        'Confirmar deleção',
        'data-content':      render(partial: 'delete_popover', locals: { entry: entry }),
        'data-ls-module':    'popover',
        'data-placement':    'left' %>
    </div>
  </header>
  <div class="ls-list-content">
    <div class="col-xs-12 col-md-3">
      <%= content_tag :span, 'Envelope', class:'ls-list-label ls-ico-envelop' %>
      <%= content_tag :strong, entry.category.name %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= content_tag :span, 'Valor', class:'ls-list-label ls-ico-origins' %>
      <%= content_tag :strong, number_to_currency(entry.amount) %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= content_tag :span, 'Data', class:'ls-list-label ls-ico-calendar' %>
      <%= content_tag :strong, entry.entry_date.strftime('%d/%m/%Y') %>
    </div>
    <% if entry.goal_id.present? %>
      <div class="col-xs-12 col-md-3">
        <%= link_to goal_path(entry.goal_id) do %>
          <%= content_tag :span, 'Objetivo', class:'ls-list-label ls-ico-trophy' %>
          <%= content_tag :strong, entry.goal.title, class: 'ls-tooltip-bottom', 'aria-label': 'Ver detalhes do objetivo' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

