<%= content_for :css do %>
  <%= stylesheet_link_tag 'wallets', media: 'all' %>
  <%= stylesheet_link_tag 'table', media: 'all' %>
<% end %>

<section class="container">
  <h2>Carteiras</h2>

  <section class="action">
    <%= link_to('Nova carteira', new_user_wallet_path(current_user), class: 'button') %>
    <div class="clear"></div>
  </section>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Compartilhada?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @wallets.each do |wallet| %>
        <tr class="wallet">
          <%= content_tag(:td, wallet.name, class: 'name') %>
          <%= content_tag(:td, number_to_currency(wallet.balance), class: 'balance') %>
          <%= content_tag(:td, wallet.shared, class: 'shared') %>
          <td class="action">
            <%= link_to 'editar', edit_user_wallet_path(current_user, wallet), class: 'button' %>
            <%= link_to 'compartilhar', new_wallet_sharing_path(wallet), class: 'button share' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @sharings.present? %>
    <div class="sharings">
      <h3>Carteiras compartilhadas</h3>

      <table>
        <thead>
          <tr>
            <th>nome</th>
            <th>valor</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @sharings.each do |sharing| %>
            <tr class="wallet">
              <%= content_tag(:td, sharing.name, class: 'name') %>
              <%= content_tag(:td, number_to_currency(sharing.balance), class: 'balance') %>
              <td class="action">
                <%= link_to 'Cancelar compartilhamento', wallet_sharing_path(sharing.wallet, sharing), method: :delete, class: 'button' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>
