<!DOCTYPE html>
<html class="ls-theme-yellow-gold">
  <head>
    <title>Million</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="O mais simples e eficiente aplicativo de educação financeira.">
    <link rel="icon" href="<%= image_url('million-logo.png') %>">
    <link rel="apple-touch-icon" href="<%= image_url('million-logo.png') %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <v-app id="app">
      <v-content>
        <% if flash[:notice].present? %>
          <v-alert type="success" :value="true" dismissible v-model="alert">
            <%= flash[:notice] %>
          </v-alert>
        <% elsif flash[:alert].present? %>
          <v-alert type="error" :value="true" dismissible v-model="alert">
            <%= flash[:alert] %>
          </v-alert>
        <% end %>

        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <%= yield %>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </body>

  <footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </footer>
</html>
