<!DOCTYPE html>
<html style="height: 100%; margin: 0px;">
  <head>
    <title>Million</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="O melhor e mais simples gerenciador pessoal de finanças.">
    <link rel="icon" href="<%= image_url('million-logo.png') %>">
    <link rel="apple-touch-icon" href="<%= image_url('million-logo.png') %>">
    <link https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :css %>
  </head>

  <body>
    <nav class="toolbar">
      <div id="logo">
        <a href="<%= root_path %>">
          <img src="<%= image_url('million-logo.svg') %>">
        </a>
      </div>
      <ul class="menu-inline">
        <li class="menu-item"><a href="<%= dashboard_path(current_user) %>">Painel</a></li>
        <li class="menu-item"><a href="<%= expenses_path(current_user) %>">Despesas</a></li>
        <li class="menu-item"><a href="<%= revenues_path(current_user) %>">Receitas</a></li>
        <%# <li class="menu-item"><a href="<%= wallets_path(current_user) %1>">Carteiras</a></li> %>
        <li class="menu-item"><a href="<%= user_goals_path(current_user) %>">Objetivos</a></li>
      </ul>
    </nav>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <p>Million ® 2019 Hobbyright</p>
    </footer>

    <%= javascript_include_tag 'application', media: 'all' %>
  </body>
</html>
