<!DOCTYPE html>
<html>
  <head>
    <title>Million</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="O mais simples e eficiente aplicativo de educação financeira.">
    <link rel="icon" href="<%= image_url('million-logo.png') %>">
    <link rel="apple-touch-icon" href="<%= image_url('million-logo.png') %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> %>
    <%# <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css"> %>
  </head>

  <body>
    <v-app id="app" userid="<%= current_user.id %>">
      <v-navigation-drawer temporary v-model="drawer" absolute app>
        <v-list>
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <v-icon>account_circle</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title><%= current_user.presentation_name %></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-list>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-action @click.stop="goto('<%= dashboard_path(current_user) %>')">
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Painel</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action @click.stop="goto('<%= expenses_path(current_user) %>')">
              <v-icon>shopping_cart</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Despesas</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action @click.stop="goto('<%= revenues_path(current_user) %>')">
              <v-icon>account_balance_wallet</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Receitas</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action @click.stop="goto('<%= user_goals_path(current_user) %>')">
              <v-icon>my_location</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Objetivos</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-btn href="<%= logout_path %>" data-method="delete" flat small>
              <v-list-tile-action>
                <v-icon>exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Sair</v-list-tile-title>
              </v-list-tile-content>
            </v-btn>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="primary">
        <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
        <v-spacer class="hidden-md-and-up"></v-spacer>
        <v-btn icon href="/">
          <image src="<%= image_url('million-logo.svg') %>">
        </v-btn>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn href="<%= dashboard_path(current_user) %>" flat small>Painel</v-btn>
          <v-btn href="<%= expenses_path(current_user) %>" flat small>Despesas</v-btn>
          <v-btn href="<%= revenues_path(current_user) %>" flat small>Receitas</v-btn>
          <v-btn href="<%= user_goals_path(current_user) %>" flat small>Objetivos</v-btn>
          <v-btn href="<%= logout_path %>" data-method="delete" flat small>Sair</v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-content>
        <v-container fluid>
          <% if @intro.present? %>
            <intro :params="<%= @intro %>"></intro>
          <% end %>
          <% if flash[:notice].present? %>
            <v-alert type="success" :value="true" dismissible v-model="alert">
              <%= flash[:notice] %>
            </v-alert>
          <% elsif flash[:alert].present? %>
            <v-alert type="error" :value="true" dismissible v-model="alert">
              <%= flash[:alert] %>
            </v-alert>
          <% end %>

          <%= yield %>
        </v-container>
      </v-content>
      <v-footer app>
        <v-spacer></v-spacer>
        <div>Hobbyright &copy; {{ new Date().getFullYear() }} Million financial education app.</div>
      </v-footer>

        <footer class="ls-footer" style="height: 120px">
          <nav class="ls-footer-menu">
            <h2 class="ls-title-footer">CONTATO</h2>
            <ul class="ls-footer-list">
              <li><a class="bg-customer-support"
                  href="#"
                  data-ls-module="popover"
                  data-title="Escreva para"
                  data-content="<p><a href='mailto:dev.joaogustavo@gmail.com'>João Gustavo de Paula</a></li>">Críticas e sugestões</a></li>
            </ul>
          </nav>
          <div class="ls-footer-info">
            <p class="ls-copy-right">Hobbyright © 2018-2018 Million personal finance manager.</p>
          </div>
        </footer>

      <aside class="ls-sidebar hidden-md hidden-lg">
        <% if logged_in? %>
          <div data-ls-module="dropdown" class="ls-dropdown ls-user-account ls-active">
            <a href="#" class="ls-ico-user">
              <%= content_tag(:span, current_user.presentation_name, class: 'ls-name') %>
            </a>
            <nav class="ls-dropdown-nav ls-user-menu" aria-hidden="true">
              <ul>
                <li><%= link_to 'Painel',    dashboard_path(current_user),  class: 'ls-ico-dashboard',    'aria-label': 'Painel inicial' %></li>
                <li><%= link_to 'Despesas',  expenses_path(current_user),   class: 'ls-ico-cart',         'aria-label': 'Painel de despesas' %></li>
                <li><%= link_to 'Receitas',  revenues_path(current_user),   class: 'ls-ico-chart-bar-up', 'aria-label': 'Painel de receitas' %></li>
                <li><%= link_to 'Objetivos', user_goals_path(current_user), class: 'ls-ico-trophy',       'aria-label': 'Painel de objetivos' %></li>
              </ul>
              <%= link_to 'Sair', logout_path, method: :delete, class: 'ls-btn-logout', role: 'combobox', 'aria-expanded': 'false' %>
            </nav>
          </div>
        <% else %>
          <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
            <a href="#" class="ls-ico-user"></a>
            <nav class="ls-dropdown-nav ls-user-menu">
              <ul>
                <li><%= link_to 'Cadastre-se', signup_path %></li>
                <li><%= link_to 'Entre', login_path %></li>
              </ul>
            </nav>
          </div>
        <% end %>
      </aside>
    </v-app>
    <%= javascript_pack_tag 'application' %>
    <%# <%= javascript_include_tag 'application' %1> %>
    <%# <script src="//assets.locaweb.com.br/locastyle/3.10.1/javascripts/locastyle.js"></script> %>
    <%# yield :google_chart %>
  </body>
</html>
