<!DOCTYPE html>
<html style="height: 100%; margin: 0px;">
  <head>
    <title>Million</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="O melhor e mais simples gerenciador pessoal de finanças.">
    <link rel="icon" href="<%= image_url('million-logo.png') %>">
    <link rel="apple-touch-icon" href="<%= image_url('million-logo.png') %>">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <style>
      div#modal-expense, div#modal-revenue {
        overflow: visible;
      }
    </style>
    <%= javascript_include_tag 'pre_include', media: 'all' %>
  </head>

  <body style="height: 100%; margin: 0px;" class="">
    <nav class="nav-extended amber darken-1">
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo">
          <img src="<%= image_url('million-logo.svg') %>"></img>
        </a>
        <a class="sidenav-trigger" href="#" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><a href="<%= dashboard_path(current_user) %>">Painel</a></li>
            <li><a href="<%= expenses_path(current_user) %>">Despesas</a></li>
            <li><a href="<%= revenues_path(current_user) %>">Receitas</a></li>
            <li><a href="<%= user_goals_path(current_user) %>">Objetivos</a></li>
          <% end %>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
              <%= current_user.presentation_name %><i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <%= content_for :javascript do %>
    <script>
      <% if flash[:notice].present? %>
        M.toast({html: "<%= flash[:notice] %>", displayLength: 5000, classes: 'rounded'});
      <% end %>

      <% if flash[:alert].present? %>
        M.toast({html: "<%= flash[:alert] %>", displayLength: 5000, classes: 'rounded'});
      <% end %>
    </script>
    <% end %>

    <ul id="user-dropdown" class="dropdown-content">
      <% if logged_in? %>
        <li><a href="<%= logout_path(current_user) %>" data-method="delete">Sair</a></li>
      <% else %>
        <li><a href="<%= login_path %>">Entrar</a></li>
        <li><a href="<%= signup_path %>">Cadastrar</a></li>
      <% end %>
    </ul>

    <ul class="sidenav" id="mobile-menu">
      <% if logged_in? %>
        <li><a href="<%= logout_path(current_user) %>" data-method="delete">Sair</a></li>
        <hr>
        <li><a href="<%= dashboard_path(current_user) %>">Painel</a></li>
        <li><a href="<%= expenses_path(current_user) %>">Despesas</a></li>
        <li><a href="<%= revenues_path(current_user) %>">Receitas</a></li>
        <li><a href="<%= user_goals_path(current_user) %>">Objetivos</a></li>
      <% else %>
        <li><a href="<%= login_path %>">Entrar</a></li>
        <li><a href="<%= signup_path %>">Cadastrar</a></li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red"><i class="large material-icons">add</i></a>
        <ul>
          <li>
            <a class="btn-floating red modal-trigger" href="#modal-expense"><i class="material-icons">add_shopping_cart</i></a>
          </li>
          <li>
            <a class="btn-floating green modal-trigger" href="#modal-revenue"><i class="material-icons">attach_money</i></a>
          </li>
          <li>
            <a class="btn-floating yellow darken-1 modal-trigger" href="#modal-goal"><i class="material-icons">star</i></a>
          </li>
        </ul>
      </div>

      <div id="modal-expense" class="modal">
        <%= form_for(@new_expense) do |f| %>
          <div>
            <div class="modal-content">
              <div class="row">
                <h4>Nova despesa</h4>
                <div class="row">
                  <div class="input-field col s12 l6">
                    <i class="material-icons prefix">receipt</i>
                    <label for="entry_expense_description">Descrição</label>
                    <%= f.text_field :description, placeholder: 'Descrição' %>
                  </div>

                  <div class="input-field col s12 l6">
                    <i class="material-icons prefix">category</i>
                    <%= f.collection_select(:sub_category_id, @sub_categories, :id, :name, prompt: 'Categoria') %>
                    <label for="entry_expense_sub_category_id">Categoria</label>
                  </div>

                  <div class="input-field col s12 l6">
                    <i class="material-icons prefix">calendar_today</i>
                    <%= f.text_field :made_at, class: 'datepicker' %>
                    <label for="entry_expense_made_at">Data</label>
                  </div>

                  <div class="input-field col s12 l6">
                    <i class="material-icons prefix">attach_money</i>
                    <%= f.number_field :amount, step: 0.01, min: 0.00 %>
                    <label for="entry_expense_amount">Valor</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <%= content_tag :span, 'Cancelar', class: 'btn-flat modal-close' %>
              <%= f.submit 'Salvar', class: 'btn' %>
            </div>
          </div>
        <% end %>
      </div>

      <div id="modal-revenue" class="modal">
        <%= form_for(@new_revenue) do |f| %>
          <div>
            <div class="modal-content">
              <div class="row">
                <h4>Nova receita</h4>
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">receipt</i>
                    <label for="entry_revenue_description">Descrição</label>
                    <%= f.text_field :description, placeholder: 'Descrição' %>
                  </div>

                  <div class="input-field col s6">
                    <i class="material-icons prefix">category</i>
                    <%= f.collection_select(:sub_category_id, @sub_categories, :id, :name, prompt: 'Categoria') %>
                    <label for="entry_revenue_sub_category_id">Categoria</label>
                  </div>

                  <div class="input-field col s6">
                    <i class="material-icons prefix">calendar_today</i>
                    <%= f.text_field :made_at, class: 'datepicker' %>
                    <label for="entry_revenue_made_at">Data</label>
                  </div>

                  <div class="input-field col s6">
                    <i class="material-icons prefix">attach_money</i>
                    <%= f.number_field :amount, step: 0.01, min: 0.00 %>
                    <label for="entry_revenue_amount">Valor</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <%= content_tag :span, 'Cancelar', class: 'btn-flat modal-close' %>
              <%= f.submit 'Salvar', class: 'btn' %>
            </div>
          </div>
        <% end %>
      </div>

      <div id="modal-goal" class="modal">
        <div class="modal-content">
          <h4>New goal!</h4>
        </div>
        <div class="modal-footer"></div>
      </div>
    <% end %>

    <main>
    <div class="container">
      <div class="masonry row">
        <%= yield :title %>
        <%= yield %>
      </div>
    </div>
    </main>

    <footer class="page-footer amber darken-1">
      <div class="footer-copyright">
        <div class="container">® 2018 Hobbyright</div>
      </div>
    </footer>

    <%= javascript_include_tag 'application', media: 'all' %>
    <%= yield :javascript %>
    <script>
      $(document).ready(function(){ $('select').formSelect(); });
      var options = {
      i18n: {
      months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        weekdays: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'],
        weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
        weekdaysAbbrev: ['D','S','T','Q','Q','S','S'],
        cancel: 'Cancelar',
        clear: 'Limpar',
        done: 'Ok'
      },
        format: "dd/mm/yyyy",
        showClearBtn: true,
        autoClose: true
      };
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, options);
      });
    </script>
  </body>
</html>
